/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* placeholders */
body {
  color: #757575;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

body.mobile-menu-open {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
  margin: 0;
}

/* mixins */
.skills-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fafbff;
  position: relative;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: auto;
  background: #fff;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
          box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  padding-left: 12px;
  padding-top: 12px;
  width: 100%;
  max-width: 60px;
  border-bottom-right-radius: 30px;
}
@media screen and (min-width: 450px) {
  .header {
    position: static;
    border-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    max-width: 306px;
    padding-top: 37px;
    padding-left: 28px;
  }
}

.header__logo,
.header__logo-desktop {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header__logo,
  .header__logo-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
}
.header__logo a,
.header__logo-desktop a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo p,
.header__logo-desktop p {
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
  margin-left: 8px;
}
.header__logo p span,
.header__logo-desktop p span {
  color: #838383;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1px;
  margin-left: 4px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1440px) {
  .header__logo-mobile {
    display: none;
  }
}

.header-nav {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header-nav {
    display: block;
    margin-bottom: 30px;
  }
}

.header-nav__list .header-nav__item .header-nav__link {
  color: #9197b3;
  width: 100%;
  max-width: 250px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 8px;
  fill: #9197b3;
  stroke: #9197b3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__list .header-nav__item .header-nav__link p {
  margin-left: 14px;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}
.header-nav__list .header-nav__item .header-nav__link .header-nav__icon {
  margin-left: 12px;
}
.header-nav__list .header-nav__item .header-nav__link .header-nav__icon-arrow {
  margin-left: auto;
  margin-right: 12px;
}
.header-nav__list .header-nav__item .header-nav__link--current {
  background-color: #5932ea;
  fill: #ffffff;
  stroke: #ffffff;
  color: #ffffff;
}
.header-nav__list .header-nav__item .header-nav__link:hover {
  background-color: #5932ea;
  fill: #ffffff;
  stroke: #ffffff;
  color: #ffffff;
}
.header-nav__list .header-nav__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu-toggle {
  min-height: 30px;
  min-width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
}
@media screen and (min-width: 1440px) {
  .menu-toggle {
    display: none;
  }
}

.brand-Language-Menu {
  margin-bottom: 30px;
}

.header-navigation-block {
  background-color: #fff;
  width: 100%;
  max-width: 306px;
}

.header-navigation-block-container {
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
}

.contact-block {
  display: none;
}

.contact-block,
.contact-block-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  margin-bottom: 76px;
}
.contact-block .contact-photo,
.contact-block-menu .contact-photo {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}
.contact-block .name,
.contact-block-menu .name {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}
.contact-block .position,
.contact-block-menu .position {
  color: #757575;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
@media screen and (min-width: 1440px) {
  .contact-block,
  .contact-block-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact-block-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hello-evano-section {
  width: 100%;
  padding: 21px 21px 21px 21px;
  overflow-y: auto;
}
@media screen and (min-width: 1440px) {
  .hello-evano-section {
    padding: 71px 71px 71px 71px;
  }
}

.hello-evano-section__container {
  max-width: 1440px;
  margin: auto;
}

.hello-evano-section__title {
  margin-left: 60px;
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 51px;
}
@media screen and (min-width: 450px) {
  .hello-evano-section__title {
    margin-left: 0;
  }
}

.all-customers {
  width: 100%;
  max-width: 1440px;
  border-radius: 41px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.09);
}

.all-customers__flax-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 50px 28px 38px;
}

.all-customers__info {
  margin-bottom: 12px;
}
.all-customers__info h3 {
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.22px;
  margin-bottom: 7px;
}
.all-customers__info p {
  color: #16c098;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
}

.all-customers__field {
  position: relative;
  overflow: hidden;
}
.all-customers__field .all-customers__input {
  width: 216px;
  padding: 10px;
  padding-left: 40px;
  border: 1px solid transparent;
  outline: transparent;
  background-color: #f9fbff;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), padding-left 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), padding-left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.all-customers__field .all-customers__input:hover, .all-customers__field .all-customers__input:focus {
  border: 1px solid #16c098;
}
.all-customers__field .all-customers__input:hover + .all-customers__icon, .all-customers__field .all-customers__input:focus + .all-customers__icon {
  stroke: #16c098;
}
.all-customers__field .all-customers__input:not(:-moz-placeholder-shown) + .all-customers__icon {
  left: -18px;
  opacity: 0;
}
.all-customers__field .all-customers__input:not(:-ms-input-placeholder) + .all-customers__icon {
  left: -18px;
  opacity: 0;
}
.all-customers__field .all-customers__input:not(:placeholder-shown) + .all-customers__icon {
  left: -18px;
  opacity: 0;
}
.all-customers__field .all-customers__input:not(:-moz-placeholder-shown) {
  padding-left: 12px;
}
.all-customers__field .all-customers__input:not(:-ms-input-placeholder) {
  padding-left: 12px;
}
.all-customers__field .all-customers__input:not(:placeholder-shown) {
  padding-left: 12px;
}
.all-customers__field .all-customers__icon {
  position: absolute;
  bottom: 7px;
  left: 8px;
  pointer-events: none;
  stroke: #7e7e7e;
  opacity: 1;
  -webkit-transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), left 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all-customers__table {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.all-customers__table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.all-customers__table tr th,
.all-customers__table tr td {
  padding: 12px 0;
  width: 100%;
  min-width: 100px;
  overflow-x: auto;
  padding-left: 10px;
}
@media screen and (min-width: 880px) {
  .all-customers__table tr th,
  .all-customers__table tr td {
    overflow-x: auto;
    padding: 24px 0;
    padding-left: 10px;
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
  }
}
.all-customers__table tr th,
.all-customers__table tr td:not(:last-child) {
  text-align: start;
}
.all-customers__table tr th:nth-child(6) {
  text-align: center;
}
.all-customers__table tr td:nth-child(6) {
  text-align: center;
}
.all-customers__table tr .Active,
.all-customers__table tr .Inactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 0;
  padding-left: 10px;
}
.all-customers__table tr .Active p,
.all-customers__table tr .Inactive p {
  padding: 2px 12px;
}
@media screen and (min-width: 880px) {
  .all-customers__table tr .Active p,
  .all-customers__table tr .Inactive p {
    padding: 4px 12px;
  }
}
@media screen and (min-width: 880px) {
  .all-customers__table tr .Active,
  .all-customers__table tr .Inactive {
    padding: 20px 0;
    padding-left: 10px;
  }
}
.all-customers__table tr .Active p {
  color: #008767;
  display: block;
  border-radius: 4px;
  border: 1px solid #00b087;
  background: rgba(22, 192, 152, 0.38);
}
.all-customers__table tr .Inactive {
  color: #df0404;
}
.all-customers__table tr .Inactive p {
  display: block;
  border-radius: 4px;
  border: 1px solid #df0404;
  background: #ffc5c5;
}
.all-customers__table thead {
  padding: 0 24px;
  border-bottom: 1px solid #eeeeee;
}
.all-customers__table thead th {
  color: #b5b7c0;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
}
@media screen and (min-width: 880px) {
  .all-customers__table thead th {
    font-size: 14px;
    font-weight: 500;
  }
}
.all-customers__table tbody {
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.all-customers__table tbody tr {
  border-bottom: 1px solid #eeeeee;
}
.all-customers__table tbody td {
  color: #292d32;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
}
@media screen and (min-width: 880px) {
  .all-customers__table tbody td {
    font-size: 14px;
    font-weight: 400;
  }
}

.all-customers__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #b5b7c0;
  padding: 30px 40px 40px 38px;
}
.all-customers__pagination p {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  margin-bottom: 12px;
}
@media screen and (min-width: 681px) {
  .all-customers__pagination p {
    margin-bottom: 0;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pagination li a {
  width: 24px;
  height: 24px;
  color: #404b52;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
  letter-spacing: -0.12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #f5f5f5;
  fill: #404b52;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pagination li .pagination__link--current {
  background-color: #5932ea;
  fill: #ffffff;
  stroke: #ffffff;
  color: #ffffff;
}
.pagination li a:hover {
  background-color: #5932ea;
  fill: #ffffff;
  color: #ffffff;
}
.pagination .ellipsis {
  color: #000;
}
.pagination li:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 385px) {
  .pagination li:not(:last-child) {
    margin-right: 12px;
  }
}

.menu-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: hidden;
  overflow-y: auto;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 1;
  -webkit-transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 350ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container .menu-container-wrap {
  width: 100%;
  min-height: 100%;
  margin: auto;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container.menu-container--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */