.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  padding-left: 12px;
  padding-top: 12px;

  width: 100%;
  max-width: 60px;
  border-bottom-right-radius: 30px;

  @media screen and (min-width: 450px) {
    position: static;
    border-radius: 0;
  }

  @media screen and (min-width: 1440px) {
    max-width: 306px;
    padding-top: 37px;
    padding-left: 28px;
  }
}

.header__logo,
.header__logo-desktop {
  display: none;

  @media screen and (min-width: 1440px) {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  a {
    text-decoration: none;
    display: flex;
  }

  p {
    color: #000;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
    margin-left: 8px;

    span {
      color: #838383;
      font-family: Poppins;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.1px;
      margin-left: 4px;
    }
  }
}

.header__logo {
  display: flex;
}

.header__logo-mobile {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.header-nav {
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;
    margin-bottom: 30px;
  }
}

.header-nav__list {
  .header-nav__item {
    .header-nav__link {
      color: #9197b3;
      width: 100%;
      max-width: 250px;
      height: 46px;
      display: flex;
      align-items: center;
      text-decoration: none;
      border-radius: 8px;

      fill: #9197b3;
      stroke: #9197b3;

      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      p {
        margin-left: 14px;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.14px;
      }

      .header-nav__icon {
        margin-left: 12px;
      }

      .header-nav__icon-arrow {
        margin-left: auto;
        margin-right: 12px;
      }
    }

    .header-nav__link--current {
      background-color: #5932ea;
      fill: #ffffff;
      stroke: #ffffff;
      color: #ffffff;
    }

    .header-nav__link:hover {
      background-color: #5932ea;
      fill: #ffffff;
      stroke: #ffffff;
      color: #ffffff;
    }
  }

  .header-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

//////
.menu-toggle {
  min-height: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  // outline: none;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.brand-Language-Menu {
  margin-bottom: 30px;
}

// menu-menu стили контента
.header-navigation-block {
  background-color: #fff;
  width: 100%;
  max-width: 306px;
}

.header-navigation-block-container {
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
}

.contact-block {
  display: none;
}

.contact-block,
.contact-block-menu {
  align-items: center;
  margin-top: auto;
  margin-bottom: 76px;

  .contact-photo {
    width: 42px;
    height: 42px;
    margin-right: 12px;
  }

  .name {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
  }

  .position {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
  }
}

.contact-block-menu {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
